<!-- Corrección en tu archivo foros.hbs -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua/C0jPIh4aCeX1c1l0pC6OgZD25AdeG5WxVPCsP/Q3lgNG3cOj98FuVX" crossorigin="anonymous">

<h2>Crear Nueva Actividad</h2>
<form action="/foros/crear" method="post">
    <label for="titulo">Título de la Actividad:</label>
    <input type="text" id="titulo" name="titulo" required>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea>
    <label for="campoAdicional">Campo Adicional:</label>
    <input type="text" id="campoAdicional" name="campoAdicional" required>
    <input type="hidden" name="id_creador" value="1"> <!-- Agrega el id_creador como un valor constante o dinámico -->
    <div>
    <button type="submit">+ Añadir Actividad </button>
    </div>
</form>


{{#each foros}}
  <div class="seccion">
  <div class="contenido">
    <h2>{{titulo}}</h2>
    <p>{{descripcion}}</p>
  </div>
    <!-- Formulario para editar el foro -->
    <div class="botones">
    <form action="/foros/editar/{{this.id}}" method="put">
      <button type="submit" id="editar" >Editar</button>
    </form>
    <!-- Formulario para eliminar el foro -->
    <form action="/foros/eliminar/{{id}}" method="DELETE" onsubmit="return confirm('¿Estás seguro de eliminar este foro?');">
      <button type="submit" id="eliminar" >Eliminar</button>
    </form>
    </div>
  </div>
{{/each}}

<style>
.seccion{
  width: 800px;
  height: 100px;
  background: rgb(162, 255, 255);
  color: rgb(22, 39, 54);
}
h2{
  background: rgb(155, 195, 255);
}
.botones{
  float: right;
  margin-top: -50px;
  
}

#editar, #eliminar {
  width: 100px;
  background: rgb(142, 169, 228);
}
#editar:hover{
  background: aqua;
}
#eliminar:hover{
  background: aqua;
}

</style>