<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Contenido</title>
</head>

<body>

    <h1>Gestión de Contenido</h1>

    <!-- Formulario para agregar nuevo contenido -->
    <form action="/gestion-contenidos/foro" method="GET" enctype="multipart/form-data">
            
        <button type="submit">Foros</button>
        <form action="/foros" method="GET" enctype="multipart/form-data">
            
        <button type="submit">Foros</button>
        <form action="/foros" method="GET" enctype="multipart/form-data">
            
        <button type="submit">Foros</button>
    </form>
</body>

</html>
