<head>
    
</head>
<body>
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/gestion-contenidos" class="nav-link">Gesti칩n</a>
        </li>
        <li class="nav-item">
            <a href="/perfil" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
            <a href="/foros" class="nav-link">Foros</a>
        </li>
        <li class="nav-item">
            <a href="/informacion-seguridad" class="nav-link">Informacion Seguridad</a>
        </li>
        <!-- Otros elementos de navegaci칩n -->
    </ul>
<style>
    .navbar {
    position: fixed; /* Fijar el navbar en la pantalla */
    top: 0; /* Colocar el navbar en la parte superior */
    left: 0; /* Colocar el navbar en el extremo izquierdo */
    height: 100%; /* Altura del navbar que ocupa toda la altura de la pantalla */
    width: 110px; /* Ancho fijo del navbar */
    background-color: #5aa8c7; /* Color de fondo del navbar */
    padding-top: 20px; /* Espacio superior para evitar que el contenido se superponga */
    overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido excede el tama침o del navbar */
    }

    .navbar-nav {
        padding-left: 0; /* Eliminar el relleno izquierdo para que los elementos de la lista comiencen desde el borde izquierdo */
        list-style-type: none; /* Eliminar los marcadores de lista */
    }

    .nav-item {
        margin-bottom: 10px; /* Espacio entre elementos de navegaci칩n */
    }

    .nav-link {
        display: block; /* Convertir en elementos de bloque para ocupar todo el ancho del navbar */
        padding: 10px 20px; /* Espacio interno para el texto del enlace */
        color: #fff; /* Color del texto del enlace */
        text-decoration: none; /* Eliminar subrayado del enlace */
    }

    .nav-link:hover {
        background-color: #209bb9; /* Cambiar color de fondo al pasar el mouse sobre el enlace */
    }

    </style>

    </style>
</nav>
</body>