<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="" />

    <title>Proyecto</title>


</head>

<body>
    <div class="navbar">
        {{>navegacion}}
    </div>
    <div class="body">
        {{{ body }}}
    </div>
    <div class="message">
        {{>message}}
    </div>      

</body>

</html>
<style>
    body{
        margin-left: 120px;
            }
</style>